/* selector{

    property: value;
} */

/* For the body properties
background-color - set a background color you like
color - set the text color you like
For the nav properties
height - set to 600px
width - set to 200px
float - set to left
padding - set to 5px
line-height - set to 30px
For the footer properties
text-align - set to center
margin-right - set to 200px
For the #memeImage properties
margin-right - set to 200px
For the header properties
text-align - set to center
Link the main.css page to the index.html and boards.html pages between the opening and closing head tags in the index.html and boards pages, like so: */

body {
  background-color: rgb(26, 209, 237);
  color: rgb(116, 39, 188);
}
nav {
  height: 600px;
  width: 200px;
  float: left;
  padding: 5px;
  line-height:30px;
}

footer {
  text-align: center;
  margin-right: 200px;
}

.memeImage{ 
  margin: 50px;
  margin-bottom: 100px;
  width: 350px;
  height: 350px;
  
}

header {
  text-align: center;
}
 button{
  background-color: rgba(0, 0, 0, 0.1);
  color: rgb(138, 43, 226);
  border-radius: 10%;
  cursor: pointer;
  font-size: 20px;
 }
.container{
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  
}

footer{
  margin-top: 50px;
  margin-bottom: 50px;
}